<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main/main.css}">
    <title>메인페이지-로그인</title>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let loginSuccess = [[${loginSuccess}]];
            if (loginSuccess) {
                const memberNickname = [[${session.loggedInMember}]];
                alert(memberNickname + '님, 로그인 되었습니다.');
            }
        });
    </script>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>

<div th:if="${logoutSuccess}">
    <script th:inline="javascript">
        alert("로그아웃 되었습니다.");
    </script>
</div>

<div class="main-container">
    <div th:if="${session.loggedInMember != null}">
    <div class="main-frame">
        <img src="resources/img/main_frame.png" alt="Product 1">
    </div>
    <div class="search-container">
        <form action="/product/list" method="get">
            <input type="text" name="keyword" class="search-input" placeholder="원하는 제품을 검색해보세요">
            <button type="submit">검색</button>
        </form>
    </div>
    <br/>

    <br/>
    <br/>
    <div class="recommendations-container">{}님을 위한 추천 상품</div>
    <div class="recommendations-category">카메라 | 핸드폰</div>

    </div>
    <div th:unless="${session.loggedInMember != null}">
        <div class="main-frame">
            <img src="resources/img/main_frame.png" alt="Product 1">
        </div>
        <div class="recommendations-container">요즘뜨는상품</div>
        <div class="recommendations-category">카메라 | 핸드폰</div>
        <div class="product_images">
            <div class="image_row">
                <!-- 이미지 1 -->
                <div class="image_container">
                    <div class="image_and_heart_container">
                        <div class="image_placeholder"></div>
                        <img th:src="@{/resources/img/product_example.png}" alt="Product Image" class="product_img">
                        <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                        <div class="heart"></div>
                    </div>
                    <p>100,000원</p>
                </div>
                <!-- 이미지 2 -->
                <div class="image_container">
                    <div class="image_and_heart_container">
                        <div class="image_placeholder"></div>
                        <img src="resources/img/product_example.png" alt="Product 1" class="product_img">
                        <img src="resources/img/heart.png" alt="heart 1" class="heart_icon">
                        <div class="heart"></div>
                    </div>
                    <p>100,000원</p>
                </div>
                <!-- 이미지 3 -->
                <div class="image_container">
                    <div class="image_and_heart_container">
                        <div class="image_placeholder"></div>
                        <img src="resources/img/product_example.png" alt="Product 1" class="product_img">
                        <img src="resources/img/heart.png" alt="heart 1" class="heart_icon">
                        <div class="heart"></div>
                    </div>
                    <p>100,000원</p>
                </div>
                <!-- 이미지 4 -->
                <div class="image_container">
                    <div class="image_and_heart_container">
                        <img src="resources/img/product_example.png" alt="Product 1" class="product_img">
                        <img src="resources/img/heart.png" alt="heart 1" class="heart_icon">
                        <div class="heart"></div>
                    </div>
                    <p>100,000원</p>
                </div>
            </div>
        </div>

    </div>
    <!-- 오른쪽 빈 공간 -->
    <div class="empty_space"></div>
    <!-- 선택 창 -->
    <div class="selection-box">

        <a href=""> 내 경매</a><br/><br/><br/>
        <a href=""> 좋아요한 목록</a><br/><br/><br/>
        <a href=""> AS 서비스</a> <br/><br/><br/>
        <a href="/product/register"> 판매글 등록</a><br/><br/><br/>
    </div>
</div>

</body>
</html>
