<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main/main.css}">
    <title>메인페이지-로그인</title>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let loginSuccess = [[${loginSuccess}]];
            if (loginSuccess) {
                const memberNickname = [[${session.loggedInMember}]];
                alert(memberNickname + '님, 로그인 되었습니다.');
            }
        });

        function filterProductsByCategory(categoryName) {
            const productContainers = document.querySelectorAll('.image_container');
            productContainers.forEach(container => {
                const category = container.getAttribute('data-category');
                if (category === categoryName || categoryName === '전체') {
                    container.style.display = 'flex';
                } else {
                    container.style.display = 'none';
                }
            });
        }

    </script>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div><br/>

<div th:if="${logoutSuccess}">
    <script th:inline="javascript">
        alert("로그아웃 되었습니다.");
    </script>
</div>

<div class="main-container">

    <div class="main-frame">
        <img th:src="@{/resources/img/main_frame.png}" alt="Product 1">
    </div>
    <br/><br/>
    <div class="search-container">
        <form action="/product/list" method="get">
            <img th:src="@{/resources/img/searchbar.png}" alt="searchbar">
            <input type="text" name="keyword" class="" placeholder="원하는 제품을 검색해보세요">
            <button type="submit">검색</button>
        </form>
    </div>

    <div th:if="${session.loggedInMember != null}">
        <div class="recommendations-container" th:text="${session.loggedInMember + '님을 위한 추천 상품'}"></div>

        <!-- 관심 카테고리가 있는 경우 -->
        <div th:if="${interests != null and #lists.size(interests) > 0}">
            <div class="recommendations-category">
                <span th:each="category, iterStat : ${interests}">
                    <button th:text="${category.name}" th:attr="onclick='filterProductsByCategory(\'' + ${category.name} + '\')'"></button>
                    <span th:if="${!iterStat.last}"> | </span>
                </span>
            </div>
            <!-- 선택한 카테고리에 따라서 상품 이미지  -->
            <div class="product_images">
                <div class="image_row" >
                    <div class="image_container" th:each="product : ${recommendedProducts}" th:attr="data-category=${product.category}">
                        <div class="image_and_heart_container">
                            <div class="image_placeholder"></div>
                            <a th:href="@{/product/view(id=${product.id})}">
                                <img th:if="${#lists.size(product.productImageList) > 0}"
                                     th:src="${product.productImageList.get(0).url}"
                                     class="product_img" alt="Product Image">
                                <img th:if="${#lists.size(product.productImageList) == 0}"
                                     th:src="@{/resources/img/product_example.png}"
                                     class="product_img" alt="Default Image">
                            </a>
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <a th:text="${product.title}" th:href="@{/product/view(id=${product.id})}">판매글 제목</a>
                        <a th:text="${product.price} + '원'" th:href="@{/product/view(id=${product.id})}">가격</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 로그인 유저 : 관심 카테고리가 없는 경우. 좋아요 순 정렬 -->
        <div class="product_images" th:unless="${interests != null and #lists.size(interests) > 0}">
            <div class="image_row" >
                <div class="image_container" th:each="product : ${recommendedProducts}">
                    <div class="image_and_heart_container">
                        <div class="image_placeholder"></div>
                        <a th:href="@{/product/view(id=${product.id})}">
                            <img th:if="${#lists.size(product.productImageList) > 0}"
                                 th:src="${product.productImageList.get(0).url}"
                                 class="product_img" alt="Product Image">
                            <img th:if="${#lists.size(product.productImageList) == 0}"
                                 th:src="@{/resources/img/product_example.png}"
                                 class="product_img" alt="Default Image">
                        </a>
                        <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                        <div class="heart"></div>
                    </div>
                    <a th:text="${product.title}" th:href="@{/product/view(id=${product.id})}">판매글 제목</a>
                    <a th:text="${product.price} + '원'" th:href="@{/product/view(id=${product.id})}">가격</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 로그인 x -->
    <div th:if="${session.loggedInMember == null}">
        <div class="recommendations-container">요즘 뜨는 상품</div>
    <div class="product_images">
        <div class="image_row">
            <div class="image_container" th:each="product : ${productList}">
                <div class="image_and_heart_container">
                    <div class="image_placeholder"></div>
                    <a th:href="@{/product/view(id=${product.id})}">
                        <img th:if="${#lists.size(product.productImageList) > 0}"
                             th:src="${product.productImageList.get(0).url}"
                             class="product_img" alt="Product Image">
                        <img th:if="${#lists.size(product.productImageList) == 0}"
                             th:src="@{/resources/img/product_example.png}"
                             class="product_img" alt="Default Image">
                    </a>
                    <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                    <div class="heart"></div>
                </div>
                <a th:text="${product.title}" th:href="@{/product/view(id=${product.id})}">판매글 제목</a>
                <a th:text="${product.price} + '원'" th:href="@{/product/view(id=${product.id})}">가격</a>
            </div>
        </div>
    </div>
    </div>

    <!-- 오른쪽 빈 공간 -->
    <div class="empty_space"></div>
    <!-- 선택 창 -->
    <div class="selection-box">
        <a href=""> 내 경매</a><br/><br/><br/>
        <a href=""> 좋아요한 목록</a><br/><br/><br/>
        <a href=""> AS 서비스</a> <br/><br/><br/>
        <a href="/product/register"> 판매글 등록</a><br/><br/><br/>
    </div>
</div>
</body>
</html>
