<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/auth/Login.css}">
    <title>로그인</title>
</head>
<body>
<div th:include="thyme/HeaderWithoutCategory"></div>

<div th:if="${signupSuccess}">
    <script th:inline="javascript">
        alert("회원가입 되었습니다.");
    </script>
</div>

<div th:if="${param.message}">
    <script th:inline="javascript">
        alert([[${param.message}]]);
    </script>
</div>

<div class="login-container">
    <h2>Bid Flap</h2><br/>
    <form th:action="@{/auth/login}" th:object="${loginDto}" method="post">
        <div class="form-group">
            <label for="email">이메일 주소</label><br/>
            <input type="email" id="email" name="email" th:value="*{email}">
            <div class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label><br/>
            <input type="password" id="password" name="password">
            <div class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <br/>
        <button type="submit">로그인</button>
    </form>
    <div class="error-msg" th:if="${loginError}">
        <p th:text="${loginError}"></p>
    </div>
    <div class="link-container">
        <a href="#" th:href="@{/auth/signup}" class="link">회원가입</a>
        <a href="#" th:href="@{/auth/find-email}" class="link">이메일 찾기</a>
        <a href="#" th:href="@{/auth/reset-password}" class="link">비밀번호 재설정</a>
    </div>
</div>
</body>
</html>
