<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/member/editProfile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/member/myPage.css}">

    <script th:inline="javascript">
        // as 전문가 등록 여부
        function toggleExpertInput() {
            const expertInput = document.getElementById('expertInput');
            if (document.getElementById('expertYes').checked) {
                expertInput.style.display = 'block';
            } else {
                expertInput.style.display = 'none';
            }
        }

        // 페이지 로드 시 toggleExpertInput 함수 호출
        document.addEventListener('DOMContentLoaded', function() {
            toggleExpertInput();
        });

        // 프로필 style
        window.onload = function() {
            const profileImg = document.getElementById('profilePreview');
            // 이미지 src가 기본 이미지 경로와 같거나, 'null' 문자열을 포함하고 있다면 기본 스타일 적용
            if (profileImg.getAttribute('src') === '/resources/img/ProfileEdit.png' || profileImg.getAttribute('src').includes('null')) {
                profileImg.style.borderRadius = '0%'; // 기본 이미지일 때의 스타일
            } else {
                profileImg.style.borderRadius = '50%'; // 사용자 이미지일 때의 스타일
            }
        }

        // 프로필 미리 보기
        function previewProfile(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const preview = document.getElementById('profilePreview');
                    preview.src = e.target.result;
                    document.getElementById('profilePreview').style.border = '2px solid #A1A1A1'; // 테두리 추가
                    document.getElementById('profilePreview').style.borderRadius = '50%'; // 이미지를 둥글게
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                // 파일이 선택되지 않았을 때 기본 프로필을 표시
                document.getElementById('profilePreview').src = '/resources/img/ProfileEdit.png';
                document.getElementById('profilePreview').style.border = 'none'; // 테두리 제거
                document.getElementById('profilePreview').style.borderRadius = '0'; // 이미지 모양 제거
            }
        }

        // 프로필 삭제
        function deleteProfile() {
            document.getElementById('profilePreview').src = '/resources/img/ProfileEdit.png';
            document.getElementById('profilePreview').style.border = 'none'; // 테두리 제거
            document.getElementById('profilePreview').style.borderRadius = '0'; // 이미지 모양 제거
        }

        // 페이지 로드 시 이미지 클릭 이벤트 리스너 등록
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('profilePreview').addEventListener('click', function() {
                document.getElementById('profile').click();
            });
            document.querySelector('.profile-delete').addEventListener('click', function() {
                deleteProfile();
            });
        });
    </script>
</head>
<body>
<div th:insert="~{thyme/HeaderWithCategory}"></div>

<div th:if="${updateSuccess}">
    <script th:inline="javascript">
        alert("비밀번호가 변경되었습니다.");
    </script>
</div>
<div th:if="${updateMemberSuccess}">
    <script th:inline="javascript">
        alert("회원 정보가 변경되었습니다.");
    </script>
</div>

<div class="container">
    <main>
        <aside>
            <nav class="side-nav">
                <span><h3><a href="#" th:href="@{/members/my-page}">마이 페이지</a></h3></span>
                <span><a href="#">판매 내역</a></span>
                <span><a href="#">구매 내역</a></span>
                <span><a href="#">경매 내역</a></span>
                <span><a href="#">좋아요한 글</a></span>
                <span><a href="#">채팅 내역</a></span>
            </nav>
        </aside>
        <section class="main-section">
            <div class="profile-info">
                <div id="profilePreviewContainer">
                    <img id="profilePreview" class="profile-pic" th:src="${updateMemberDto.profile == null ? '/resources/img/ProfileEdit.png' : updateMemberDto.profile}" alt="Profile Img">
                    <input type="file" id="profile" name="profile" accept="image/*" onchange="previewProfile(event)">
                </div>
                <div class="profile-details">
                    <span class="username" th:text="${updateMemberDto.nickname}">유저 닉네임</span>
                    <span class="email" th:text="${updateMemberDto.email}">bidflap@bidflap.co.kr</span>
                    <button type="submit" class="profile-delete" onclick="deleteProfile()">프로필 삭제</button>
                    <button type="submit" class="profile-edit">프로필 저장</button>
                </div>
            </div>
            <br/>

            <form action="#" th:action="@{/members/change-password}" th:object="${changePasswordDto}" method="post">
                <div class="input-container"><br/>
                    <label for="password" class="title">비밀번호</label>
                    <div>
                        <input type="password" id="password" name="password" placeholder="현재 비밀번호" th:value="*{password}"><br/>
                        <div class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        <div class="error-msg" th:if="${passwordError}" th:text="${passwordError}"></div>

                        <input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호" th:value="*{newPassword}"><br/>
                        <div class="error-msg" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>

                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="새 비밀번호 확인" th:value="*{confirmPassword}">
                        <div class="error-msg" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                        <div class="error-msg" th:if="${newPasswordError}" th:text="${newPasswordError}"></div>
                    </div>
                </div>
                <div>
                    <button type="submit">비밀번호 변경</button>
                </div>
            </form>

            <form action="#" th:action="@{/members/update-member}" th:object="${updateMemberDto}" method="post">
                <div class="input-container">
                    <label for="email" class="title">이메일&nbsp;</label>
                    <input type="email" id="email" name="email" th:value="*{email}">
                </div>
                <div class="error-msg1" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                <div class="error-msg1" th:if="${emailError}" th:text="${emailError}"></div>

                <div class="input-container"><br/>
                    <label for="nickname" class="title">닉네임&nbsp;</label>
                    <input type="text" id="nickname" name="nickname" th:value="*{nickname}">
                </div>
                <div class="error-msg1" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
                <div class="error-msg1" th:if="${nicknameError}" th:text="${nicknameError}"></div>

                <div><br/>
                    <label class="title">as 전문가 등록</label>
                    <div class="radio-container">
                        <input type="radio" id="expertYes" name="expert" value="yes" th:field="*{expert}" onclick="toggleExpertInput()">
                        <label for="expertYes">등록</label>
                        <input type="radio" id="expertNo" name="expert" value="no" th:field="*{expert}" onclick="toggleExpertInput()">
                        <label for="expertNo">미등록</label>
                    </div>
                </div>
                <div id="expertInput" class="sub-container">
                    <label for="expertInfo" class="sub-title">소개</label>
                    <textarea id="expertInfo" name="expertInfo" placeholder="AS 전문 분야 및 자기 소개를 입력하세요" th:text="*{expertInfo}" class="expert-style"></textarea>
                    <div class="error-msg2" th:if="${asInfoError}" th:text="${asInfoError}"></div>
                    <br/><br/>
                    <label for="asPrice" class="sub-title">가격</label>
                    <input type="text" id="asPrice" name="asPrice" placeholder="AS 가격을 입력하세요" class="expert-style" th:value="*{asPrice}"> 원
                    <div class="error-msg2" th:if="${asPriceError}" th:text="${asPriceError}"></div>
                </div>

                <div><br/>
                    <label for="accountNumber" class="title">계좌 정보</label>
                    <div class="bank-container">
                        <select th:field="*{bank}">
                            <option value="">은행을 선택하세요</option>
                            <option th:each="bank : ${bankList}" th:value="${bank}"
                                    th:text="${bank}">은행</option>
                        </select>
                        <input type="text" id="accountNumber" name="accountNumber" placeholder="계좌 번호를 입력하세요" th:value="*{accountNumber}">
                    </div>
                    <span class="error-msg3" th:if="${#fields.hasErrors('bank')}" th:errors="*{bank}"></span>
                    <span class="error-msg3" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></span>
                </div>

                <div><br/>
                    <label for="interest" class="title2">관심 전자제품 카테고리</label>
                    <input type="hidden" id="interest" name="interest">
                </div>

                <div class="category-list">
                    <input type="checkbox" id="mobile" name="category" value="mobile" th:checked="${updateMemberDto.category.contains('mobile')}">
                    <label for="mobile">휴대폰</label>

                    <input type="checkbox" id="tablet" name="category" value="tablet" th:checked="${updateMemberDto.category.contains('tablet')}">
                    <label for="tablet">태블릿</label>

                    <input type="checkbox" id="camera" name="category" value="camera" th:checked="${updateMemberDto.category.contains('camera')}">
                    <label for="camera">카메라</label>

                    <input type="checkbox" id="pc_parts" name="category" value="pc_parts" th:checked="${updateMemberDto.category.contains('pc_parts')}">
                    <label for="pc_parts">PC 부품</label>

                    <br/>
                    <input type="checkbox" id="wearable" name="category" value="wearable" th:checked="${updateMemberDto.category.contains('wearable')}">
                    <label for="wearable">웨어러블</label>

                    <input type="checkbox" id="pc_notebook" name="category" value="pc_notebook" th:checked="${updateMemberDto.category.contains('pc_notebook')}">
                    <label for="pc_notebook">PC/노트북</label>

                    <input type="checkbox" id="accessory" name="category" value="accessory" th:checked="${updateMemberDto.category.contains('accessory')}">
                    <label for="accessory">악세사리</label>

                    <input type="checkbox" id="etc" name="category" value="etc" th:checked="${updateMemberDto.category.contains('etc')}">
                    <label for="etc">기타</label>
                </div>
                <br/>
                <div>
                    <button type="submit">저장하기</button>
                </div>
            </form>
        </section>
    </main>
</div>
</body>
</html>
