<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/member/myPage.css}">
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>
<div class="container">
    <main>
        <aside>
            <nav class="side-nav">
                <span><h3><a href="#" th:href="@{/members/my-page}">마이 페이지</a></h3></span>
                <span><a href="#" th:href="@{/members/my-page/product}">판매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/purchase}">구매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/auction}">경매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/like}">좋아요한 글</a></span>
                <span><a href="#" th:href="@{/members/my-page/chat/product}">채팅 내역</a></span>
            </nav>
        </aside>
        <section class="main-section">
            <div class="profile-info">
                <div>
                    <img class="profile-pic" th:src="${memberInfo.profile == null ? '/resources/img/Profile.png' : memberInfo.profile}" alt="Profile Img">
                </div>
                <div class="profile-details">
                    <span class="username" th:text="${memberInfo.nickname}">유저 닉네임</span>
                    <span class="email" th:text="${memberInfo.email}">bidflap@bidflap.co.kr</span>
                    <a href="#" th:href="@{/members/edit-profile}" class="profile-edit">프로필 관리</a>
                </div>
            </div>

            <div class="section">
                <h3>판매 내역</h3>
                <div class="stats">
                    <div class="stat-item">
                        <span>전체</span>
                        <span><a href="#" th:href="@{/members/my-page/product}" th:text="${totalProducts}+ '개'">0개</a></span>
                    </div>
                    <div class="stat-item">
                        <span>판매중</span>
                        <span><a href="#" th:href="@{/members/my-page/product(status='selling')}" th:text="${sellingProducts}+ '개'">0개</a></span>
                    </div>
                    <div class="stat-item">
                        <span>경매중</span>
                        <span><a href="#" th:href="@{/members/my-page/product(status='auction')}" th:text="${auctionProducts}+ '개'">0개</a></span>
                    </div>
                    <div class="stat-item">
                        <span>판매완료</span>
                        <span><a href="#" th:href="@{/members/my-page/product(status='sold')}" th:text="${soldProducts}+ '개'">0개</a></span>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="section-header">
                    <h3>구매 내역</h3>
                    <a href="#" th:href="@{/members/my-page/purchase}" class="more-link">더보기 ></a>
                </div>

                <!-- 구매 내역이 비어있는 경우 -->
                <div th:if="${purchaseList == null or #lists.isEmpty(purchaseList)}">
                    구매 내역이 없습니다.
                </div>

                <!-- product -->
                <div class="image_container" th:each="purchase : ${purchaseList}" th:if="${purchase.product != null}">
                    <div class="image_and_heart_container">
                        <div class="image_placeholder"></div>
                        <a th:href="@{/members/my-page/purchase/{id}(id=${purchase.id})}">
                            <img th:if="${#lists.size(purchase.product.productImageList) > 0}"
                                 th:src="${purchase.product.productImageList.get(0).url}"
                                 class="product_img" alt="Product Image">
                            <img th:if="${#lists.size(purchase.product.productImageList) == 0}"
                                 th:src="@{/resources/img/product_example.png}"
                                 class="product_img" alt="Default Image">
                        </a>
                    </div>
                    <a th:text="${purchase.product.title}" th:href="@{/members/my-page/purchase/{id}(id=${purchase.id})}">판매글 제목</a>
                    <a th:text="${purchase.product.price} + '원'" th:href="@{/members/my-page/purchase/{id}(id=${purchase.id})}">가격</a>
                </div>
            </div>

            <div class="section">
                <h3>경매 내역</h3>
                <div class="stats">
                    <div class="stat-item">
                        <span>전체</span>
                        <span><a href="#" th:href="@{/members/my-page/auction}" th:text="${totalAuctions}+ '개'">0개</a></span>
                    </div>
                    <div class="stat-item">
                        <span>경매중</span>
                        <span><a href="#" th:href="@{/members/my-page/auction(status='AUCTION')}" th:text="${ongoingAuctions}+ '개'">0개</a></span>
                    </div>
                    <div class="stat-item">
                        <span>경매종료</span>
                        <span><a href="#" th:href="@{/members/my-page/auction(status='AUCTION_ENDED')}" th:text="${endedAuctions}+ '개'">0개</a></span>
                    </div>
                    <div class="stat-item">
                        <span>낙찰</span>
                        <span><a href="#" th:href="@{/members/my-page/auction(status='AUCTION_WON')}" th:text="${successfulAuctions}+ '개'">0개</a></span>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="section-header">
                    <h3>좋아요한 글</h3>
                    <a href="#" th:href="@{/members/my-page/like}" class="more-link">더보기 ></a>
                </div>

                <!-- 좋아요 내역이 비어있는 경우 -->
                <div th:if="${likedProductList == null or #lists.isEmpty(likedProductList)}">
                    좋아요한 글이 없습니다.
                </div>

                <div class="product_images">
                    <div class="image_row">
                        <div class="image_container" th:each="product : ${likedProductList}">
                            <div class="image_and_heart_container">
                                <div class="image_placeholder"></div>
                                <a th:href="@{/product/view(id=${product.id})}">
                                    <img th:if="${#lists.size(product.productImageList) > 0}"
                                         th:src="${product.productImageList.get(0).url}"
                                         class="product_img" alt="Product Image">
                                    <img th:if="${#lists.size(product.productImageList) == 0}"
                                         th:src="@{/resources/img/product_example.png}"
                                         class="product_img" alt="Default Image">
                                </a>
                            </div>
                            <a th:text="${product.title}" th:href="@{/product/view(id=${product.id})}">판매글 제목</a>
                            <a th:text="${product.price} + '원'" th:href="@{/product/view(id=${product.id})}">가격</a>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </main>
</div>
</body>
</html>
