<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/member/editProfile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/member/myPage.css}">
    <style>
        .active {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>

<div class="container">
    <main>
        <aside>
            <nav class="side-nav">
                <span><h3><a href="#" th:href="@{/members/my-page}">마이 페이지</a></h3></span>
                <span><a href="#" th:href="@{/members/my-page/product}">판매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/purchase}">구매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/auction}">경매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/like}">좋아요한 글</a></span>
                <span><a href="#" th:href="@{/members/my-page/chat/product}">채팅 내역</a></span>
            </nav>
        </aside>
        <section class="main-section">
            <div>
                <h2>판매 내역</h2><br/>
                <div>
                    <ul>
                        <li><a href="#" class="status" th:href="@{/members/my-page/product}">전체</a></li><li>|</li>
                        <li><a href="#" class="status" th:href="@{/members/my-page/product(status='not_started')}">판매중</a></li><li>|</li>
                        <li><a href="#" class="status" th:href="@{/members/my-page/product(status='started')}">경매중</a></li><li>|</li>
                        <li><a href="#" class="status" th:href="@{/members/my-page/product(status='sold')}">판매완료</a></li>
                    </ul>
                </div>
            </div><br/>

            <div class="product_images">
                <div class="image_row">

                    <div class="image_container" th:each="product : ${productList}">
                        <div class="image_and_heart_container">
                            <div class="image_placeholder"></div>
                            <a th:href="@{/product/view(id=${product.id})}">
                                <img th:if="${#lists.size(product.productImageList) > 0}"
                                     th:src="${product.productImageList.get(0).url}"
                                     class="product_img" alt="Product Image">
                                <img th:if="${#lists.size(product.productImageList) == 0}"
                                     th:src="@{/resources/img/product_example.png}"
                                     class="product_img" alt="Default Image">
                            </a>
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <a th:text="${product.title}" th:href="@{/product/view(id=${product.id})}">판매글 제목</a>
                        <a th:text="${product.price}" th:href="@{/product/view(id=${product.id})}">가격</a>
                    </div>

                </div>
            </div>

        </section>
    </main>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 현재 URL에서 상태 파라미터 값을 가져오기
        const urlParams = new URLSearchParams(window.location.search);
        const status = urlParams.get('status');
        const menuLinks = document.querySelectorAll('.status');

        menuLinks.forEach(link => {
            const linkUrlParams = new URLSearchParams(link.search);
            const linkStatus = linkUrlParams.get('status');

            if (linkStatus === status) {
                link.classList.add('active');
            }
        });

        if (!status) {
            menuLinks[0].classList.add('active');
        }
    });
</script>
</body>
</html>
