<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/member/editProfile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/member/myPage.css}">
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>

<div class="container">
    <main>
        <aside>
            <nav class="side-nav">
                <span><h3><a href="#" th:href="@{/members/my-page}">마이 페이지</a></h3></span>
                <span><a href="#" th:href="@{/members/my-page/product}">판매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/purchase}">구매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/auction}">경매 내역</a></span>
                <span><a href="#" th:href="@{/members/my-page/like}">좋아요한 글</a></span>
                <span><a href="#" th:href="@{/members/my-page/chat/product}">채팅 내역</a></span>
            </nav>
        </aside>
        <section class="main-section">
            <div>
                <h2>판매 내역</h2><br/>
                <div>
                    <ul>
                        <li><a href="#">전체</a></li><li>|</li>
                        <li><a href="#">판매중</a></li><li>|</li>
                        <li><a href="#">경매중</a></li><li>|</li>
                        <li><a href="#">판매완료</a></li>
                    </ul>
                </div>
            </div><br/>

            <div class="product_images">
                <div class="image_row">
                    <!-- 이미지 1 -->
                    <div class="image_container">
                        <div class="image_and_heart_container">
                            <div class="image_placeholder"></div>
                            <img th:src="@{/resources/img/product_example.png}" alt="Product 1" class="product_img">
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <span>에어팟 맥스</span>
                        <span>100,000원</span>
                    </div>
                    <!-- 이미지 2 -->
                    <div class="image_container">
                        <div class="image_and_heart_container">
                            <div class="image_placeholder"></div>
                            <img th:src="@{/resources/img/product_example.png}" alt="Product 1" class="product_img">
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <span>에어팟 맥스</span>
                        <span>100,000원</span>
                    </div>
                    <!-- 이미지 3 -->
                    <div class="image_container">
                        <div class="image_and_heart_container">
                            <div class="image_placeholder"></div>
                            <img th:src="@{/resources/img/product_example.png}" alt="Product 1" class="product_img">
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <span>에어팟 맥스</span>
                        <span>100,000원</span>
                    </div>
                    <!-- 이미지 4 -->
                    <div class="image_container">
                        <div class="image_and_heart_container">
                            <img th:src="@{/resources/img/product_example.png}" alt="Product 1" class="product_img">
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <span>에어팟 맥스</span>
                        <span>100,000원</span>
                    </div>

                    <div class="image_container">
                        <div class="image_and_heart_container">
                            <img th:src="@{/resources/img/product_example.png}" alt="Product 1" class="product_img">
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <span>에어팟 맥스</span>
                        <span>100,000원</span>
                    </div>

                    <div class="image_container">
                        <div class="image_and_heart_container">
                            <img th:src="@{/resources/img/product_example.png}" alt="Product 1" class="product_img">
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <span>에어팟 맥스</span>
                        <span>100,000원</span>
                    </div>

                    <div class="image_container">
                        <div class="image_and_heart_container">
                            <img th:src="@{/resources/img/product_example.png}" alt="Product 1" class="product_img">
                            <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                            <div class="heart"></div>
                        </div>
                        <span>에어팟 맥스</span>
                        <span>100,000원</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
