<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bid Flap</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/afterService/asInfo.css}">
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>

<div class="modal">
    <div class="modal_body">
        <h1 th:text="${asInfo.member.nickname}+' 채팅방 리스트'"></h1>
        <hr>
        <p th:text="${sizeOfList}==0? '개설된 채팅방이 없습니다.':${sizeOfList}+'개의 채팅방이 있습니다.'"></p>
        <buttn id="startChatBtn" th:if="${asInfo.member.nickname} != ${session.loggedInMember} and ${sizeOfList}==0">새로운 채팅 시작하기</buttn>
        <hr>
        <div th:if="${sizeOfList}!=0">
            <div th:each="room : ${chatRoomList}">
                <div th:onclick="|goToChatRoom(${room.id})|">
                    <div>
                        <p th:text="${room.member.nickname}+'님'"></p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="asInfo-container">
    <div class="asProfile">
        <img id="profile" th:src="@{/resources/img/asProfile.png}">
    </div>
    <div class="line"></div>
    <div class="textInfo">
        <div class="mainText">
            <p class="name" th:text="${asInfo.member.nickname}"></p>
        </div>
        <div>
            <p th:text="${asInfo.description}"></p>
            <button id="open-modal">AS 서비스 문의하기</button>
        </div>
    </div>
</div>
<script>
    function adjustLineHeight() {
        var textInfoHeight = document.querySelector('.textInfo').offsetHeight;
        document.querySelector('.line').style.height = textInfoHeight + 'px';
    }

    window.addEventListener('DOMContentLoaded', adjustLineHeight);
    window.addEventListener('resize', adjustLineHeight);

    const modal = document.querySelector('.modal');
    const btnOpenModal=document.querySelector('#open-modal');

    btnOpenModal.addEventListener('click', function() {
        modal.style.display="flex";
    });

    modal.addEventListener('click', function() {
        modal.style.display = "none";
    });

    document.getElementById("startChatBtn").addEventListener('click', function() {
        var afterServiceId = [[${asInfo.id}]];

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/chat/createASChatRoom/' + afterServiceId;
        /*
        // CSRF 토큰을 추가하는 부분 (Spring Security를 사용하는 경우)
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = '_csrf';
        csrfInput.value = csrfToken;
        form.appendChild(csrfInput);
        */

        document.body.appendChild(form);
        form.submit();
    });

    function goToChatRoom(roomId) {
        window.location.href = '/chat/chatRoom/afterService/' + roomId;
    }
</script>
</body>
</html>
