<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bid Flap</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/afterService/asInfo.css}">
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>
<div class="asInfo-container">
    <div class="asProfile">
        <img id="profile" th:src="@{/resources/img/asProfile.png}">
    </div>
    <div class="line"></div>
    <div class="textInfo">
        <div class="mainText">
            <p class="name" th:text="${asInfo.member.nickname}"></p>
            <p class="cate">#웨어러블 #카메라</p>
        </div>
        <div>
            <p th:text="${asInfo.description}"></p>
            <button id="startChatBtn">AS 서비스 문의하기</button>
        </div>
    </div>
</div>
<script>
    function adjustLineHeight() {
        var textInfoHeight = document.querySelector('.textInfo').offsetHeight;
        document.querySelector('.line').style.height = textInfoHeight + 'px';
    }

    window.addEventListener('DOMContentLoaded', adjustLineHeight);
    window.addEventListener('resize', adjustLineHeight);

    document.getElementById('startChatBtn').addEventListener('click', function() {
        var afterServiceId = [[${asInfo.id}]];
        window.location.href = '/chat/chatRoom/afterService/' + afterServiceId;
    });

    console.log([[${asInfo.id}]]);
</script>
</body>
</html>
