<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bid Flap</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/afterService/asList.css}">
    <script>
        function goToExpertDetails(expertId) {
            window.location.href = '/afterService/asInfo/' + expertId;
        }

        function searchExperts() {
            var keyword = document.getElementById('searchbar').value;
            window.location.href = '/afterService/search?keyword=' + encodeURIComponent(keyword);
        }

        function checkEnterKey(event) {
            if (event.key === 'Enter') {
                searchExperts();
            }
        }
    </script>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>
<div class="list-container">
    <div class="search-container">
        <img th:src="@{/resources/img/searchIcon.png}" id="searchImage" onclick="searchExperts()">
        <input type="text" id="searchbar" placeholder="원하는 전문가를 검색해보세요" onkeydown="checkEnterKey(event)"/>
    </div>
    <div th:if="${asList.size() == 0}">
        <p>검색 결과가 없습니다.</p>
    </div>
    <div th:if="${asList.size() != 0}">
        <div th:each="expert : ${asList}">
            <div class="expert-container" th:onclick="|goToExpertDetails(${expert.id})|">
                <div class="asListProfile-container">
                    <img class="asListProfile" th:if="${expert.member.profile}!=null" th:src="${expert.member.profile}">
                    <img class="asListProfile" th:if="${expert.member.profile}==null" th:src="@{/resources/img/Profile.png}">
                    <p class="name" th:text="${expert.member.nickname} + ' 님'"></p>
                </div>
                <div class="description-container">
                    <p th:text="${expert.description}"></p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
</body>
</html>
