<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bid Flap</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/afterService/asList.css}">
    <script>
        // JavaScript 함수로 클릭 시 페이지 이동
        function goToExpertDetails(expertId) {
            window.location.href = '/afterService/asInfo/' + expertId;
        }
    </script>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>
<div class="list-container">
    <div class="search-container">
        <img th:src="@{/resources/img/searchIcon.png}" id="searchImage">
        <input type="text" id="searchbar" placeholder="원하는 전문가를 검색해보세요" />
    </div>
    <div th:each="expert : ${asList}">
        <div class="expert-container" th:onclick="|goToExpertDetails(${expert.id})|">
            <div class="asListProfile-container">
                <img class="asListProfile" th:src="@{/resources/img/asProfile.png}"/>
                <p class="name" th:text="${expert.member.nickname} + ' 님'"></p>
            </div>
            <div class="description-container">
                <p th:text="${expert.description}">
                    안녕하세요! 서울시 성동구에서 수리 업체 서비스를 10년째 운영 중인 몽자라고 합니다. 경력 AS 전문가에 대한 설명
                    이거 최대 몇 줄이지? 그냥 무조건 위에서 자를까 아니면 한 줄 소개란을 따로 입력받을까
                    안녕하세요! 서울시 성동구에서 수리 업체 서비스를 10년째 운영 중인 몽자라고 합니다. 경력 AS 전문가에 대한 설명
                    이거 최대 몇 줄이지? 그냥 무조건 위에서 자를까 아니면 한 줄 소개란을 따로 입력받을까
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>
</body>
</html>
