<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"  href="/resources/css/product/RegisterProduct.css">
    <title>상품 정보</title>
    <script>
        function confirmModify(){
            if(confirm("수정하시겠습니까?")){
                document.getElementById('modify-form').submit()
            }
        }
    </script>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>
<h1>상품정보</h1>
<form id= "modify-form" th:action="@{/product/update/{id}(id=${product.id})}" method="post" enctype="multipart/form-data">
    <div id="productContainer"><br/>
        <div id="productPreviewContainer">
            <img id="productPreview" src="/resources/img/CameraImg.svg">
        </div>
        <input type="file" id="product_img" name="product_filepath" accept="image/*" onchange="previewProfile(event)">
    </div>

    <div class="product-name">상품명
        <input type="text" id="productName" name="title" class="input-style" th:value="${product.title}">
    </div>

    <div class="product-category">카테고리</div>

    <div class="product-category2">
        <input type="radio" id="mobile" name="category" value="MOBILE" th:checked="${product.category.name() == 'MOBILE'}">
        <label for="mobile">휴대폰</label>

        <input type="radio" id="tablet" name="category" value="TABLET" th:checked="${product.category.name() == 'TABLET'}">
        <label for="tablet">태블릿</label>

        <input type="radio" id="camera" name="category" value="CAMERA" th:checked="${product.category.name() == 'CAMERA'}">
        <label for="camera">카메라</label>

        <input type="radio" id="pc_parts" name="category" value="PC_PARTS" th:checked="${product.category.name() == 'PC_PARTS'}">
        <label for="pc_parts">PC 부품</label>

        <br/>
        <input type="radio" id="wearable" name="category" value="WEARABLE" th:checked="${product.category.name() == 'WEARABLE'}">
        <label for="wearable">웨어러블</label>

        <input type="radio" id="pc_notebook" name="category" value="PC_NOTEBOOK" th:checked="${product.category.name() == 'NOTEBOOK'}">
        <label for="pc_notebook">PC/노트북</label>

        <input type="radio" id="accessory" name="category" value="ACCESSORY" th:checked="${product.category.name() == 'ACCESSORY'}">
        <label for="accessory">악세사리</label>

        <input type="radio" id="etc" name="category" value="ETC" th:checked="${product.category.name() == 'ETC'}">
        <label for="etc">기타</label>
    </div>
    <br/>

    <div class="line"></div>

    <!-- 가격 입력 -->
    <div class="price">가격
        <input type="text" id="price" name="price" class="input-style" th:value="${product.price}">
    </div>

    <!-- 설명 -->
    <div class="description">설명</div>

    <!-- 설명 칸-->
    <div class="rectangle">
        <textarea class="description-text" name="description" rows="4" cols="50" th:text="${product.description}"></textarea>
    </div>

    <div>
        <button type="submit" onclick="confirmModify()">수정하기</button>
    </div>
</form>
</body>
</html>