<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/product/ProductViewList.css}">
    <title>상품전체 목록</title>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>

<div class="main-container">
    <br/>
    <br/>
    <div class="search-container">
        <form action="/product/list" method="get">
            <img th:src="@{/resources/img/searchbar.png}" alt="searchbar">
            <input type="text" name="keyword" placeholder="원하는 제품을 검색해보세요">
            <button type="submit">검색</button>
        </form>
    </div>
    <br>

    <div class="product_images">
        <div class="image_row"> <!-- 새로운 행 시작 -->
            <div class="image_container" th:each="product : ${products}">
                <div class="image_and_heart_container">
                    <div class="image_placeholder"></div>
                    <a th:href="@{/product/view(id=${product.id})}">
                        <img th:if="${#lists.size(product.productImageList) > 0}"
                             th:src="${product.productImageList.get(0).url}"
                             class="product_img" alt="Product Image">
                        <img th:if="${#lists.size(product.productImageList) == 0}"
                             th:src="@{/resources/img/product_example.png}"
                             class="product_img" alt="Default Image">
                    </a>
                    <img th:src="@{/resources/img/heart.png}" alt="heart 1" class="heart_icon">
                    <div class="heart"></div>
                </div>
                <a th:text="${product.title}" th:href="@{/product/view(id=${product.id})}">판매글 제목</a>
                <a th:text="${product.price} + '원'" th:href="@{/product/view(id=${product.id})}">가격</a>
            </div>

            <!-- 검색 결과가 없는 경우 -->
            <div th:if="${products == null or #lists.isEmpty(products)}" class="empty-text">
                <p>검색 결과가 없습니다. 다른 키워드로 검색해 보세요.</p>
            </div>
        </div>
    </div>


    <div class="empty_space"></div>
    <!-- 선택 창 -->
    <div class="selection-box">
        <a href=""> 내 경매</a><br/><br/><br/>
        <a href=""> 좋아요한 목록</a><br/><br/><br/>
        <a href=""> AS 서비스</a><br/><br/><br/>
        <a href=""> 판매글 목록</a><br/><br/><br/>
    </div>
</div>

</body>
</html>
