<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/product/RegisterProduct.css}">
  <title>상품 정보</title>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>
<h1>상품정보</h1><br/>
<form id="productForm" action="/product/register" method="post" enctype="multipart/form-data">
  <div id="productAlign">
    <!-- 파일 업로드 박스 -->
    <div id="productContainer" onclick="document.getElementById('files').click()">
      <img id="productFileInput" th:src="${'/resources/img/CameraImg.svg'}" alt="camera img">
      <div><b>사진 등록</b></div>
      <input type="file" id="files" accept="image/*" multiple onchange="checkFileCount(event)">
    </div>
    <!-- 이미지 미리보기 컨테이너 -->
    <div id="productPreviewContainer">
      <!-- 이미지 사진 -->
    </div>
  </div>

  <div class="product-name">상품명
    <input type="text" id="productName" name="title" class="input-style">
  </div>

  <div class="product-category">카테고리</div>

  <div class="product-category2">
    <input type="radio" id="mobile" name="category" value="MOBILE">
    <label for="mobile">휴대폰</label>

    <input type="radio" id="tablet" name="category" value="TABLET">
    <label for="tablet">태블릿</label>

    <input type="radio" id="camera" name="category" value="CAMERA">
    <label for="camera">카메라</label>

    <input type="radio" id="pc_parts" name="category" value="PC_PARTS">
    <label for="pc_parts">PC 부품</label>

    <br/>
    <input type="radio" id="wearable" name="category" value="WEARABLE">
    <label for="wearable">웨어러블</label>

    <input type="radio" id="pc_notebook" name="category" value="PC_NOTEBOOK">
    <label for="pc_notebook">PC/노트북</label>

    <input type="radio" id="accessory" name="category" value="ACCESSORY">
    <label for="accessory">악세사리</label>

    <input type="radio" id="etc" name="category" value="ETC">
    <label for="etc">기타</label>
  </div>
  <br/>

  <div class="line"></div>

  <!-- 가격 입력 -->
  <div class="price">가격
    <input type="text" id="price" name="price" class="input-style">
  </div>

  <!-- 설명 글자-->
  <div class="description">설명</div>

  <!-- 설명 입력-->
  <div class="rectangle">
    <textarea class="description-text" name="description" rows="4" cols="50" th:text="${param.description}"></textarea>
  </div>

  <div>
    <button type="submit">등록</button>
  </div>
</form>

<script>
  let removedFiles = new Set(); // 삭제된 파일들을 저장하기 위한 Set

  function checkFileCount(event) {
    const files = event.target.files;
    let totalFiles = document.querySelectorAll('#productPreviewContainer img').length + files.length;

    if (totalFiles > 4) {
      alert("사진은 최대 4장까지만 업로드할 수 있습니다.");
      event.target.value = ""; // 파일 선택을 초기화
    } else {
      previewFiles(event);
    }
  }

  function previewFiles(event) {
    const previewContainer = document.getElementById('productPreviewContainer');
    const files = event.target.files;

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const reader = new FileReader();

      reader.onload = function(e) {
        const img = document.createElement('img');
        img.src = e.target.result;
        img.style.maxWidth = '191px';
        img.style.maxHeight = '191px';
        img.onclick = function() {
          removedFiles.add(file); // 삭제된 파일을 Set에 추가
          previewContainer.removeChild(img);
        }
        previewContainer.appendChild(img);
      }

      reader.readAsDataURL(file); // 파일을 읽어서 데이터 URL로 변환하여 이미지로 표시
    }
  }

  document.getElementById('productForm').onsubmit = function(event) {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);

    const previewContainer = document.getElementById('productPreviewContainer');
    const previewImages = previewContainer.querySelectorAll('img');

    previewImages.forEach((img, index) => {
      fetch(img.src)
              .then(res => res.blob())
              .then(blob => {
                formData.append('files', blob, `image${index}.png`);
              })
              .then(() => {
                if (index === previewImages.length - 1) {
                  sendFormData(formData, form.action);
                }
              });
    });

    if (previewImages.length === 0) {
      sendFormData(formData, form.action);
    }
  }

  function sendFormData(formData, action) {
    fetch(action, {
      method: 'POST',
      body: formData
    }).then(response => {
      if (response.redirected) {
        window.location.href = response.url;
      } else {
        console.log('리다이렉트 실패');
      }
    })
            .catch(error => {
              console.error(error);
            });
  }
</script>

</body>
</html>