<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/product/ViewProduct.css">
    <title>상품 상세 페이지</title>
    <script>
        function confirmDelete(){
            if(confirm("정말로 삭제하시겠습니까?")){
                document.getElementById('delete-form').submit()
            }
        }


        <!--판매자 :경매시작-->

        document.addEventListener("DOMContentLoaded", function() {
            // 경매 시작 관련 요소
            const startAuctionButton = document.getElementById("start-auction-button");
            const modalOverlayStartAuction = document.querySelector(".modal-overlay-start-auction");
            const closeButton = modalOverlayStartAuction.querySelector(".close-btn");
            const cancelButton = modalOverlayStartAuction.querySelector(".cancel-btn");
            const startAuctionSubmitButton = modalOverlayStartAuction.querySelector(".start-auction-submit");

            // 경매 참여 관련 요소
            const participateButton = document.querySelector(".participate-button");
            const participateModalOverlay = document.querySelector(".modal-overlay");
            const participateModalCloseButton = participateModalOverlay.querySelector(".close-btn");
            const participateConfirmButton = participateModalOverlay.querySelector(".participate-button2");
            const confirmationCheckbox = document.getElementById("confirmation-checkbox");

            //판매자용
            const participateButton2 = document.querySelector(".participate-button2");

            // URL 경로에서 productId를 추출하는 함수
            function getProductIdFromUrl() {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get('id'); // URL의 쿼리 파라미터에서 'id' 값을 반환
            }

            const productId = getProductIdFromUrl();

            if (participateButton2) {
                participateButton2.addEventListener("click", function() {
                    window.location.href = `/auction/detail?productId=${productId}`;
                });
            }
            if (startAuctionButton) {
                startAuctionButton.addEventListener("click", function() {
                    modalOverlayStartAuction.classList.add("show");
                });

                closeButton.addEventListener("click", function() {
                    modalOverlayStartAuction.classList.remove("show");
                });

                cancelButton.addEventListener("click", function() {
                    modalOverlayStartAuction.classList.remove("show");
                });

                startAuctionSubmitButton.addEventListener("click", function() {
                    const duePeriod = document.getElementById("due-period").value;

                    if (duePeriod && productId) {
                        fetch(`/auction/start?id=${productId}&duePeriod=${duePeriod}`, {
                            method: "POST"
                        }).then(response => {
                            if (response.ok) {
                                alert("경매가 시작되었습니다!");
                                location.reload(); // 페이지를 새로고침하여 상태를 갱신합니다.
                            } else {
                                response.text().then(text => {
                                    alert("경매 시작 실패: " + text);
                                });
                            }
                        });
                    } else {
                        alert("경매 기간을 입력하세요.");
                    }
                });
            }

            // 경매 참여
            if (participateButton) {
                participateButton.addEventListener("click", function() {
                    participateModalOverlay.classList.add("show");
                });

                participateModalCloseButton.addEventListener("click", function() {
                    participateModalOverlay.classList.remove("show");
                });

                participateConfirmButton.addEventListener("click", function() {
                    if (confirmationCheckbox.checked) {
                        window.location.href = `/auction/detail?productId=${productId}`;
                    } else {
                        alert("경매 참여 조건을 확인해주세요.");
                    }
                });
            }
        });


        let currentIndex = 0;

        function nextImage() {
            const slides = document.querySelectorAll('.image-slide');
            const numSlides = slides.length;

            slides[currentIndex].style.display = 'none';

            currentIndex = (currentIndex + 1) % numSlides;

            slides[currentIndex].style.display = 'flex';
        }

        function prevImage() {
            const slides = document.querySelectorAll('.image-slide');
            const numSlides = slides.length;

            slides[currentIndex].style.display = 'none';

            currentIndex = (currentIndex - 1 + numSlides) % numSlides;

            slides[currentIndex].style.display = 'flex';
        }
    </script>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>

<div th:if="${editDisabled}">
    <script th:inline="javascript">
        alert("경매 시작 전까지만 수정 가능합니다.");
    </script>
</div>

<div th:if="${deleteDisabled}">
    <script th:inline="javascript">
        alert("경매 시작 전까지만 삭제 가능합니다.");
    </script>
</div>

<div class="btn-container" th:if="${product.member.nickname ne '알수없음'}">
    <button id="open-modal">채팅하기</button>
</div>

<div class="chatmodal">
    <div class="chatmodal_body">
        <h1 th:text="${product.member.nickname}+' 채팅방 리스트'"></h1>
        <hr>
        <p th:text="${sizeOfList}==0? '개설된 채팅방이 없습니다.':${sizeOfList}+'개의 채팅방이 있습니다.'"></p>
        <buttn id="startChatBtn" th:if="${product.member.nickname} != ${session.loggedInMember} and ${sizeOfList}==0">새로운 채팅 시작하기</buttn>
        <hr>
        <div th:if="${sizeOfList}!=0">
            <div th:each="room : ${chatRoomList}">
                <div th:onclick="|goToChatRoom(${room.id})|">
                    <div>
                        <p th:text="${room.member.nickname}+'님'"></p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="image-slider">
    <div class="image-gray-box">

<!--        <div id="productPreviewContainer">-->
<!--            &lt;!&ndash; 각 이미지의 URL을 반복하여 화면에 출력 &ndash;&gt;-->
<!--            <div th:each="image, index : ${product.productImageList}">-->
<!--                <img th:src="${image.url}" alt="Product Image" style="max-width: 191px; max-height: 191px;"-->
<!--                     onclick="removePreviewImage(event, ${index.index})">-->
<!--            </div>-->
<!--        </div>-->

    <button class="prev-btn" onclick="prevImage()">＜</button>
        <div class="image-container">
            <div class="image-slide" th:each="image, index : ${product.productImageList}">
                <img th:src="${image.url}" alt="Product Image" class="product-image">
            </div>
        </div>
    <button class="next-btn" onclick="nextImage()">＞</button>

    </div>
</div>
<div class="line"></div>
<!-- 작성자인 경우, 아닌 경우에 따른 버튼 변경 구현 -->
<div th:if="${isAuthor}">
    <div class="purchase-unavailable">
        <div class="btn">
            <button type="button" th:text="'구매 불가능'" disabled></button>
        </div>
    </div>
    <div class ="status" th:with="statusText=${'Product Status: ' + product.status}" >
        <div th:text="${statusText}"></div>
        <div class="bid-available" th:unless="${#strings.startsWith(statusText, 'Product Status: SELLING')}">
            <div class="btn">
                <button class="participate-button2" type="button" th:text="'경매 페이지 보기'"></button>
            </div>
        </div>
        <div class="bid-unavailable" th:if="${#strings.startsWith(statusText, 'Product Status: SELLING')}">
            <div class="btn">
                <button class="participate-button2" type="button" th:text="'경매 불가능'"></button>
            </div>
        </div>
    </div>
    <button type="button" id="like-button-author" th:text="'좋아요 ' + ${product.likeCount}"></button>
</div>

<!-- 작성자가 아닌 경우 -->
<div th:if="${!isAuthor}">
    <div class ="status" th:with="statusText=${'Product Status: ' + product.status}" >
        <div th:text="${statusText}"></div>
        <div class="purchase-available" th:if="${#strings.startsWith(statusText, 'Product Status: SELLING')} ">
            <form action="/product/purchase" method="post"> <!-- GET 방식에서 POST 방식으로 변경 -->
                <input type="hidden" name="id" th:value="${product.id}" /> <!-- 상품 id를 hidden 필드로 전송 -->
                <button type="submit"  class="purchaseButton" th:text="구매하기"></button>
            </form>
        </div>
        <div class="purchase-unavailable" th:unless="${#strings.startsWith(statusText, 'Product Status: SELLING')} ">
            <div class="btn">
                <button type="button" th:text="'구매 불가능'"></button>
            </div>
        </div>
        <div class="bid-available" th:if="${#strings.startsWith(statusText, 'Product Status: AUCTION')}">
            <div class="btn">
                <button class="participate-button" type="button" th:text="'경매 참여하기'"></button>
            </div>
        </div>
        <div class="bid-unavailable" th:if="${#strings.startsWith(statusText, 'Product Status: AUCTION_ENDED')}">
            <div class="btn">
                <button class="button" type="button" th:text="'경매 참여 불가능'"></button>
            </div>
        </div>
        <div class="bid-unavailable" th:unless="${#strings.startsWith(statusText, 'Product Status: AUCTION')}">
            <div class="btn">
                <button type="button" th:text="'경매 참여 불가능'"></button>
            </div>
        </div>
    </div>

    <form id="like-form" action="/product/like" method="post">
        <input type="hidden" name="productId" th:value="${product.id}"/>
        <button type="submit" id="like-button-non-author" th:text="'좋아요 ' + ${product.likeCount}"></button>
    </form>


</div>
<!-- 작성자인 경우에만 수정 및 삭제 버튼 표시 -->
<div th:if="${isAuthor}">
    <form id="delete-form" th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <button type="button" id="delete-button" onclick="confirmDelete()">글 삭제</button>
    </form>

    <a th:href="@{/product/modify/{id}(id=${product.id})}">
        <button id="modify-button" type="button">글 수정</button>
    </a>

</div>

<div class="auction-notice">경매 시작 가능 | 10명 이상 좋아요</div>

<div class="writer-profile">
    <img th:src="${product.member.profile == null ? '/resources/img/Profile.png' : product.member.profile}" alt="profile img" class="profile-picture">
    <div>
        <div class="profile-nickname" th:text="${product.member.nickname} + '님'"></div>
        <div class="profile-created-at" th:text="${#temporals.format(product.createdAt, 'yyyy년 MM월 dd일 HH시 mm분') + '에 작성하셨습니다.'}"></div>
        <!--상품 상태 확인용 디버그 코드-->
<!--        <div th:text="'Product Status: ' + ${product.status}"></div>-->
        <div th:if="${isAuthor}">
            <!--경매 시작 버튼 및 모달 -->
            <div th:if="${product.likeCount >= 10}">
                <div class="start-auction-container">
                    <button id="start-auction-button">경매 시작</button>
                </div>
            </div>
            <div th:if="${product.likeCount < 10}">
                <div class="auction-unavailable">
                    <div class="btn">
                        <button type="button" th:text="'경매 시작 불가능'" disabled></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="price" th:text="${product.price != null ? product.price + '원' : ''}"></div>
<div class="product-title" th:text="${product.title}"></div>
<div class="product-description" th:text="${product.description}"></div>
<div class="product-category" th:text="${product.category != null ? '#' + product.category : ''}"></div>
<div class="writer-price">판매자 제시가</div>

<!--경매 참여 모달 -->
<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h2>경매 참여자에게 알립니다.</h2>
            <button class="close-btn">&times;</button>
        </div>
        <div class="modal-body">
            <p>경매 참여시 안전 거래를 위해 판매가 일정 금액 이상일 경우 <br/> 가격의 5%미만일 경우 기본 금액의 보증금을 납부해야합니다. <br/><br/>
                낙찰 시 경매품에 대한 수락 혹은 거부의사를 3일 안에 전달해야합니다.<br/><br/> 낙찰 수락 시 ,결제가 가능하며 이후 보증금이 반환됩니다.  <br/>
                낙찰 수락 후 결제를 취소하는 경우, 보증금은 돌려받을 수 없습니다.  <br/>
                낙찰 거부시, 다음 순위의 참여자에게 기회가 넘어갑니다. </p>
            <label for="confirmation-checkbox">
                <input type="checkbox" id="confirmation-checkbox"> 위 사항을 확인했습니다.
            </label>
            <br/><br/>
            <button class="participate-button2">경매참여</button>
        </div>
    </div>
</div>
<!-- 경매 시작 모달 -->
<div class="modal-overlay modal-overlay-start-auction">
    <div class="modal">
        <div class="modal-header">
            <h2>경매 시작하기</h2>
            <button class="close-btn">&times;</button>
        </div>
        <div class="modal-body">
            <p>경매 기간을 설정하세요 (일 단위):</p>
            <input type="number" id="due-period" min="1" required>
            <br/><br/>
            <button class="start-auction-submit">경매 시작</button>
            <button class="cancel-btn">취소</button>
        </div>
    </div>
</div>
<script>
    const chatmodal = document.querySelector('.chatmodal');
    const btnOpenModal=document.querySelector('#open-modal');

    btnOpenModal.addEventListener('click', function() {
        //event.stopPropagation();
        chatmodal.style.display="flex";
    });

    chatmodal.addEventListener('click', function() {
        //event.stopPropagation();
        chatmodal.style.display = "none";
    });

    document.getElementById("startChatBtn").addEventListener('click', function() {
        var productId = [[${product.id}]];

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/chat/createChatRoom/' + productId;

        document.body.appendChild(form);
        form.submit();
    });

    function goToChatRoom(roomId) {
        window.location.href = '/chat/chatRoom/product/' + roomId;
    }

</script>
</body>

</html>
