<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/product/ViewProduct.css">
    <title>상품 상세 페이지</title>
    <script>
        function confirmDelete(){
            if(confirm("정말로 삭제하시겠습니까?")){
                document.getElementById('delete-form').submit()
            }
        }
    </script>
</head>
<body>
<div th:include="thyme/HeaderWithCategory"></div>

<div class="image-slider">
    <button class="prev-btn">＜</button>
    <div class="image-gray-box">
            <div id="productPreviewContainer">
                <!-- 각 이미지의 URL을 반복하여 화면에 출력 -->
                <div th:each="image, index : ${product.productImageList}">
                    <img th:src="${image.url}" alt="Product Image" style="max-width: 191px; max-height: 191px;"
                         onclick="removePreviewImage(event, ${index.index})">
                </div>
            </div>
    </div>
    <button class="next-btn">＞</button>
</div>

<div class="line"></div>

<!-- 작성자인 경우, 아닌 경우에 따른 버튼 변경 구현 -->
<div th:if="${isAuthor}">
    <div class="purchase-unavailable">
        <div class="btn">
            <button type="button" th:text="'구매 불가능'" disabled></button>
        </div>
    </div>
    <div th:if="${product.likeCount >= 1}">
        <div class="bid-available">
            <div class="btn">
                <form action="/product/startAuction" method="post">
                    <input type="hidden" name="productId" th:value="${product.id}" />
                    <button type="submit" th:text="'경매 시작하기'"></button>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${product.likeCount < 1}">
        <div class="bid-unavailable">
            <div class="btn">
                <button type="button" th:text="'경매 불가능'" disabled></button>
            </div>
        </div>
    </div>
    <button type="button" id="like-button-author" th:text="'좋아요 ' + ${product.likeCount}"></button>
</div>

<!-- 작성자가 아닌 경우 -->
<div th:if="${!isAuthor}">
    <div class="btn" th:classappend="${product.status == 'ACTIVE'} ? 'purchase-unavailable' : 'purchase-available'">
        <form action="/product/purchase" method="get">
        <button type="submit" th:text="${product.status == 'ACTIVE'} ? '구매 불가능' : '구매하기'" th:disabled="${product.status == 'ACTIVE'}"></button>
        </form>
    </div>
    <div th:if="${product.status == 'ACTIVE'}" class="bid-available">
        <div class="btn">
            <button type="button" th:text="'경매 참여하기'"></button>
        </div>
    </div>
    <div th:if="${product.status != 'ACTIVE'}" class="bid-unavailable">
        <div class="btn">
            <button type="button" th:text="'경매 참여 불가능'"></button>
        </div>
    </div>
    <form id="like-form" action="/product/like" method="post">
        <input type="hidden" name="productId" th:value="${product.id}"/>
        <button type="submit" id="like-button-non-author" th:text="'좋아요 ' + ${product.likeCount}"></button>
    </form>
</div>

<!-- 작성자인 경우에만 수정 및 삭제 버튼 표시 -->
<div th:if="${isAuthor}">
    <form id="delete-form" th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <button type="button" id="delete-button" onclick="confirmDelete()">글 삭제</button>
    </form>

    <a th:href="@{/product/modify/{id}(id=${product.id})}">
        <button id="modify-button" type="button">글 수정</button>
    </a>
</div>

<div class="auction-notice">경매 시작 가능 | 10명 이상 좋아요</div>

<div class="writer-profile">
    <span th:text="${nickname} + '님'"></span>
    <span th:text="${#temporals.format(product.createdAt, 'yyyy년 MM월 dd일 HH시 mm분') + '에 작성하셨습니다.'}"></span>
</div>

<div class="profile-picture"></div>
<div class="price" th:text="${product.price != null ? product.price + '원' : ''}"></div>
<div class="product-title" th:text="${product.title}"></div>
<div class="product-description" th:text="${product.description}"></div>
<div class="product-category" th:text="${product.category != null ? '#' + product.category : ''}"></div>
<div class="writer-price">판매자 제시가</div>
</body>
</html>
