<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=sans-serif&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet" />
    <link th:href="@{/resources/css/Header.css}" rel="stylesheet" />
    <title>Document</title>
    <script>
        function confirmLogout(event) {
            event.preventDefault(); // 폼 전송 막기
            const logoutConfirmed = confirm("로그아웃하시겠습니까?");
            if (logoutConfirmed) {
                // 사용자가 확인을 누른 경우, 로그아웃 폼을 제출
                document.getElementById("logoutForm").submit();
            }
        }
    </script>
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="#" th:href="@{/}">
                <img th:src="@{/resources/img/Logo.png}" alt="BID FLAP">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li th:unless="${session.loggedInMember != null}"><a href="#" th:href="@{/auth/signup}">회원가입</a></li>
                <li th:unless="${session.loggedInMember != null}">|</li>
                <li th:unless="${session.loggedInMember != null}"><a href="#" th:href="@{/auth/login}">로그인</a></li>

                <li th:if="${session.loggedInMember != null}"><a href="#" th:href="@{/members/my-page}">마이페이지</a></li>
                <li th:if="${session.loggedInMember != null}">|</li>
                <li th:if="${session.loggedInMember != null}"><a href="#">알림</a></li>
                <li th:if="${session.loggedInMember != null}">|</li>
                <li th:if="${session.loggedInMember != null}">
                    <!-- confirmLogout 함수를 호출하는 onclick 이벤트 -->
                    <form th:action="@{/members/logout}" method="post" id="logoutForm" onsubmit="confirmLogout(event)">
                        <button type="submit" class="logout">로그아웃</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="category">
        <ul>
            <li><a href="#" th:href="@{/product(category='ALL')}">전체</a></li>
            <li><a href="#" th:href="@{/product(category='MOBILE')}">휴대폰</a></li>
            <li><a href="#" th:href="@{/product(category='TABLET')}">태블릿</a></li>
            <li><a href="#" th:href="@{/product(category='WEARABLE')}">웨어러블</a></li>
            <li><a href="#" th:href="@{/product(category='PC_NOTEBOOK')}">PC/노트북</a></li>
            <li><a href="#" th:href="@{/product(category='CAMERA')}">카메라</a></li>
            <li><a href="#" th:href="@{/product(category='PC_PARTS')}">PC 부품</a></li>
            <li><a href="#" th:href="@{/product(category='ACCESSORY')}">악세사리</a></li>
            <li><a href="#" th:href="@{/product(category='ALL')}">기타</a></li>
        </ul>
    </div>
</header>
</body>
</html>
