<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/resources/css/notification.css}" rel="stylesheet" />
    <title>Notification</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function markAsRead(notificationId) {
            $.ajax({
                url: '/notification/' + notificationId + '/read',
                type: 'PUT',
                success: function() {
                    location.reload();
                }
            });
        }
    </script>
</head>
<body>
<div class="notification-container">
    <div class="notification-header">읽지 않은 알림</div>
    <ul class="notification-list">
        <li th:each="notification : ${unreadNotifications}" th:classappend="${notification.readStatus == T(com.ssd.bidflap.domain.enums.ReadStatus).NOT_READ} ? 'unread' : ''" class="notification-item">
            <span class="message" th:text="${notification.message}"></span>
            <button class="mark-read" th:onclick="'markAsRead(' + ${notification.id} + ')'">읽음처리</button>
            <a th:if="${notification.product != null && #strings.equals(notification.notificationType.toString(), 'AUCTION')}" th:href="@{/product/view(id=${notification.product.id})}" class="go-to-auction" onclick="markAsRead(${notification.id})">경매페이지로</a>
            <a th:if="${notification.product != null && #strings.equals(notification.notificationType.toString(), 'AUCTION_WON')}" th:href="@{/auction/detail(productId=${notification.product.id})}" class="go-to-auction-start" onclick="markAsRead(${notification.id})">낙찰페이지로</a>
            <a th:if="${notification.product != null && #strings.equals(notification.notificationType.toString(), 'CHAT')}" th:href="@{/product/view(id=${notification.product.id})}" class="go-to-purchase" onclick="markAsRead(${notification.id})">구매페이지로</a>
            <a th:if="${notification.afterService != null && #strings.equals(notification.notificationType.toString(), 'CHAT')}" th:href="@{/afterService/asInfo/{afterServiceId}(afterServiceId=${notification.afterService.id})}" class="go-to-as" onclick="markAsRead(${notification.id})">AS 페이지로</a>
        </li>
    </ul>
</div>
</body>
</html>
