.bidder-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px; /* 헤더와의 간격을 확보하기 위해 상단 마진 추가 */
    position: relative; /* 가상 요소 위치를 위해 relative 설정 */
}

.bidder-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    width: 1px; /* 세로선의 두께 */
    background-color: #F5F5F5; /* 세로선의 색상 */
}

.left-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    padding-left: 20px; /* 전체적인 왼쪽 간격 */
}

.image-frame {
    width: 500px;
    height: 500px;
    background: #F5F5F5;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.product-image {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-image img {
    width: auto;
    height: 100%;
}

.rotate-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.rotate-image img {
    width: 31.82px;
    height: 31.82px;
    transform: rotate(-45deg);
    border: 2px black solid;
}

.profile-container {
    display: flex;
    align-items: flex-start; /* 상단 정렬 */
    margin-top: 20px;

}

.profile-image {
    margin-top:30px;
    margin-left:10px;
    width: 110px;
    height: 110px;
    border-radius: 20px;
    margin-right:30px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile-name {
    color: #636363;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
}

.profile-start-time {
    color: #636363;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    margin-top: 10px;
}

.hashtag {
    width: 163px;
    height: 26px;
    text-align: left;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 1.25px;
    word-wrap: break-word;
    margin-left: 20px;
    margin-bottom: 20px;
}

.product-name {
    font-size: 40px;
    font-family: Inter;
    font-weight: 600;
    color: black;
    word-wrap: break-word;
    margin-left: 20px;
    margin-bottom: 15px;
}

.product-price {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.price-value {
    width: 473px;
    height: 78px;
    text-align: left;
    color: black;
    font-size: 45px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    margin-left: 20px; /* 왼쪽 간격 */
}

.product-description {
    color: black;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 30px;
}


.unavailable {
    width: 350px; /* 버튼 너비 조정 */
    height: 70px; /* 버튼 높이 조정 */
    background: #F5F5F5;
    border-radius: 20px;
    font-size: 30px; /* 폰트 크기 조정 */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.participate-button {
    width: 350px; /* 버튼 너비 조정 */
    height: 70px; /* 버튼 높이 조정 */
    background: #F5F5F5;
    border-radius: 20px;
    font-size: 30px; /* 폰트 크기 조정 */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #215818;
    color: white;
    margin-left: 50px;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}
.bidButton{
    width: 350px; /* 버튼 너비 조정 */
    height: 70px; /* 버튼 높이 조정 */
    background: #F5F5F5;
    border-radius: 20px;
    font-size: 30px; /* 폰트 크기 조정 */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #215818;
    color: white;
    margin-left: 50px;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}
.participate-button:hover {
    background-color: #1a4312; /* 마우스를 올렸을 때의 배경색 */
}
.participate-button2:hover {
    background-color: #1a4312; /* 마우스를 올렸을 때의 배경색 */
}

.like-unavailable {
    width: 770px; /* 버튼 너비 조정 */
    height: 70px; /* 버튼 높이 조정 */
    background: #F5F5F5;
    border-radius: 20px;
    font-size: 30px; /* 폰트 크기 조정 */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B5B5B5;
    margin-top: 20px;
}

.unavailable {
    color: #B5B5B5;
}

.auction-info {
    width: 293px;
    height: 25px;
    color: black;
    font-size: 10px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    text-align: right;
    margin-top: 20px;
    align-self: flex-end; /* 오른쪽 정렬 */
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 730px;
}

.button-left, .button-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
}

.button-left .unavailable,
.button-right .participate {
    margin-bottom: 10px; /* 버튼 사이에 여유 공간 추가 */
}



/**modal***/
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity : 0.97;
    z-index: 9999;
}

.modal {
    /*display: none;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    opacity:0.88;
    padding: 20px;
    border-radius: 10px;
}

.modal-header {
    text-align: center;
}

.modal-body {
    text-align: center;
}

.modal-body p {
    /*font-weight: bold;*/
    font-size: 18px;
    margin-bottom: 20px;
}

.show {
    display: block;
}

.participate-button2 {
    width: 300px; /* 버튼 너비 조정 */
    height: 50px; /* 버튼 높이 조정 */
    background: #215818;
    border: none; /* 테두리 제거 */
    border-radius: 20px;
    font-size: 20px; /* 폰트 크기 조정 */
    font-family: Inter;
    font-weight: 600;
    color: white;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    margin-top: 20px; /* 버튼 위쪽 여백 추가 */
}
