.main-container {
    position: relative;
}

.main-frame {
    position: relative;
    width: 1920px;
    height: 298px;
    background: #323232;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.search-container {
    position: relative;
    width: 700px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid #495057;
    border-radius: 15px;

}

.search-input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-image: url('../resources/static/img/searchbar.png');
    background-size: cover;
    background-position: center;
    color: #555;
    font-size: 16px;
    outline: none;
}

.search-input::placeholder {
    color: #999;
}


.recommendations-container{
    font-weight: bold;
    text-indent: 300px;
    margin-top: 70px;
    margin-bottom: 20px;
    /*text-align: justify;*/
    /*position: absolute;*/

}
.recommendations-category {
    font-weight: bold;
    text-indent: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*text-align: justify;*/
    /*position: absolute;*/

}

.product_images {
    width: calc(100% - 370px);
    height: calc(100vh - 298px - 40px - 40px); /
    overflow-y: auto;
    margin: 0 auto;

}

.image_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1px;
}

.image_container {
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 0;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin-bottom: 5px;
    padding: 10px 0;
}
.heart_icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 25px;
    height: auto;
}
.product_img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.image_container p {
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    padding: 0px;
}

.selection-box {
    position: fixed;
    top: 50%; /* 기본 위치를 50%로 설정 */
    right: 20px;
    width: 120px; /* 가로 크기 줄이기 */
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: top 0.5s;
    font-weight: bold;
    text-align: center;
}

.empty_space {
    width: 20px;
}


.product_images::-webkit-scrollbar {
    width: 7px; /* 스크롤바 너비 */
}

.product_images::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 10px;
}

.product_images::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 호버 시 스크롤바 색상 */
}

.product_images::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}