h1 {
    margin: 0;
    font-size: 40px;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.line {
    width: 100%;
    height: 0px;
    border-bottom: 2px solid #A1A1A1;
    box-sizing: border-box;
    margin: 10px 0;
}

#productDetails {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.product-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    color: #215818;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #000000;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label {
    font-size: 16px;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.summary {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.button-container {
    text-align: center;
}

button {
    background-color: #215818;
    color: #ffffff;
    width: 500px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
