h1 {
    position: absolute;
    width: 280px;
    height: 23px;
    left: 255px;
    top: 250px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #215818;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#productContainer {/*회색 박스*/
    box-sizing: border-box;
    position: absolute;
    width: 191px;
    height: 168px;
    left: 255px;
    top: 421px;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 20px;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

#profilePreviewContainer {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%; /* 동그랗게 표시 */
    margin-bottom: 10px;
}

#profilePreview {
    width: 100%;
    height: auto;
}


.product-name {
    position: absolute;
    width: 335px;
    height: 23px;
    left: 255px;
    top: 627px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #636363;
}

.input-style {
    width: 1427px;
    padding: 8px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #A1A1A1;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

.line {
    position: absolute;
    width: 1427px;
    height: 0px;
    left: 255px;
    top: 875px;
    border-bottom: 2px solid #A1A1A1;
    box-sizing: border-box;
}

.product-category {
    position: absolute;
    width: 335px;
    height: 23px;
    left: 255px;
    top: 711px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #636363;
}

.product-category2 {
    position: absolute;
    width: 600px;
    height: 123px;
    left: 255px;
    top: 755px;
}

form input[type="checkbox"] {
    display: none;
}

form input[type="checkbox"] + label {
    display: inline-block;
    width: 80px;
    padding: 8px 15px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #A1A1A1;
}

form input[type="checkbox"]:checked + label {
    background-color: #A1A1A1;
    color: #ffffff;
}

form button:hover {
    background-color: #215818;
}

.radio-container label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.price {
    position: absolute;
    width: 335px;
    height: 23px;
    left: 255px;
    top: 915px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #636363;
}

.description {
    position: absolute;
    width: 335px;
    height: 23px;
    left: 255px;
    top: 1025px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #636363;
}

.rectangle-180 {
    box-sizing: border-box;
    position: absolute;
    width: 1427px;
    height: 199px;
    left: 255px;
    top: 1075px;
    background: #F7F7F7;
    border-radius: 20px;
}

.rectangle-180 .description-text {
    width: 90%;
    height: 80%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
}

form button {
    position: absolute;
    width: 1427px;
    height: 105px;
    left: 255px;
    top: 1358px;
    background: #215818;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
}