.chat-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    max-width: 1330px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.info-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: top;
    flex-wrap: wrap;
}

.info-container button, .info-container form button{
    margin-top: auto;
    margin-left: auto;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-left: auto;
}

.info {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}
.info-container h1, .info-container p {
    margin-top: 0;
    margin-bottom: 0;
}

.info-container p{
    color: #707070;
}

.chatImg{
    width: 181px;
    height: 181px;
}

.imgForm {
    background-color: #F5F5F5;
    width: 214px;
    height: 241px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.imgForm div.product {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.imgForm b {
    font-size: 18px;
    margin-top: 5px;
}

hr {
    border: none; /* 기본적으로 적용되는 선을 제거합니다. */
    border-top: 1px solid gray; /* 원하는 선 스타일 및 색상을 지정합니다. */
    width: 100%; /* 수평선의 너비를 100%로 설정합니다. */
}

.chat-container p{
    margin-bottom: 0;
}

.send-container {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.send-container img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.send-container input[type="text"] {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    border: none;
    height: 40px;
    font-size: 20px;
}

button {
    font-size: 20px;
    background-color: #215818;
    border: none;
    width: 140px;
    height: 35px;
    font-weight: bold;
    color: #FFFFFF;
}

div#chat-scroll {
    width: 100%;
    height:600px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0;
}

.messageSet{
    display: flex;
    align-items: flex-start;
    width: fit-content;;
}

.messageSet img {
    width: 45px;
    height: 45px;
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 4px;
}

.message {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 250px;
    width:auto;
    min-width: 15px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.member1 {
    margin-left: auto;
    margin-right: 5px;
}

.member2 {
    margin-right: auto;
    margin-left: 5px;
}

.chatDate {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.chat-profile {
    width: 55px;
    height: 55px;
    border-radius: 55px;
}

img.fileImg{
    width: 250px;
    object-fit: cover;
}

.fileSet.member1 {
    justify-content: flex-end;
    text-align: right;
}

.fileSet.member2 {
    justify-content: flex-start;
    text-align: left;
}