.profile-delete {
    display: inline-block;
    padding: 10px 20px; /* 내부 여백 */
    border: 2px solid #a0a0a0; /* 테두리 색상 */
    border-radius: 10px; /* 테두리 둥글게 */
    background-color: white;
    text-decoration: none; /* 링크 밑줄 제거 */
    position: absolute; /* 절대 위치 */
    right: 180px;
    top: 50%; /* 세로 중앙에 위치하게 */
    transform: translateY(-50%); /* 세로 중앙 정렬을 위한 변환 */
}

#profilePreviewContainer input {
    display: none;
}

.profile-details button {
    font-size: 16px;
    cursor: pointer;
}

/* 제목 탭 */
.title {
    display: inline-block;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    align-content: start;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 10px; /* 제목과 입력란 사이의 간격 조정 */
    vertical-align: top; /* 제목과 입력란을 수직 정렬 */
}

.title2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

/* 입력란 */
.input-container {
    display: flex; /* 내부 요소를 수평으로 정렬하기 위해 flexbox 사용 */
    align-items: flex-start; /* 내부 요소를 위쪽으로 정렬 */
    margin-bottom: 20px; /* 입력란과 다음 요소 사이의 간격 조정 */
}

.input-container input,
.bank-container input {
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px;
}

/* 폼 요소 간의 간격 조정 */
form > div {
    margin-bottom: 20px;
}

/* 전문가 등록 세부 사항 */
.sub-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 100px;
    vertical-align: top; /* 제목과 입력란을 수직 정렬 */
}

.sub-container input,
.sub-container textarea {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
}

.sub-container input {
    width: 200px;
}

.sub-container textarea {
    width: 500px;
    height: 200px;
}

form input[type="checkbox"] {
    display: none;
}

/* 관심 카테고리 선택 박스 */
form input[type="checkbox"] + label {
    display: inline-block;
    width: 90px; /*너비 통일*/
    padding: 8px 15px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center; /* 텍스트 가운데 정렬 */
    border: 1px solid #A1A1A1; /* 테두리 */
}

form input[type="checkbox"]:checked + label {
    background-color: #A1A1A1;  /* 카테고리 배경색 */
    color: #ffffff; /* 카테고리 글자색 */
}

#expertInput {
    display: none;
}

.radio-container {
    margin-top: 10px;
}

.radio-container label {
    display: inline-block;
    margin-bottom: 10px;
}

.radio-container input {
    margin-left: 80px;
}

.expert-style {
    margin-left: 60px;
}

/* 계좌 정보 */
.bank-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.bank-container select {
    margin-left: 80px;
    margin-right: 20px;
    width: 180px;
    padding: 8px;
    font-size: 16px;
    border: none; /* 기본 테두리 제거 */
    border-bottom: 1px solid #ddd; /* 밑줄 테두리 추가 */
    box-sizing: border-box; /* 테두리 포함하여 크기 조정 */
    margin-bottom: 10px; /* 하단 여백 추가 */
    outline: none; /* 포커스 효과 제거 */
}

.main-section form button {
    padding: 10px 30px; /* 버튼 안의 여백 조정(위아래 좌우) */
    background-color: #215818;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    margin-bottom: 50px;
}

#profilePreview {
    cursor: pointer;
}
.category-list {
    margin-left: 80px;
    margin-bottom: 40px;
}

.delete-button {
    padding: 10px 30px;
    background-color: #A1A1A1;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    margin: 40px auto;
}

.delete-page {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 50px;
    cursor:pointer;
}

.error-msg {
    color: red;
    margin-left: 15px;
}

.error-msg1 {
    color: red;
    margin-left: 250px;
}

.error-msg2 {
    color: red;
    margin-left: 200px;
}

.error-msg3 {
    color: red;
    margin-left: 80px;
}

.delete-notice {
    margin-left: 80px;
    font-size: 18px;
}