<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<head>
    <meta charset="UTF-8">
    <title>BidFlap</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/chat/chatRoom.css}">
</head>
<body>
<div class="chat-container">
    <div class="info-container">
        <div th:if="${message == '채팅가능'}" class="info imgForm product">
            <img th:if="${seller.nickname != '알수없음' && crType == 'product'}"
                 th:src="${product.productImageList[0].url} != null ? ${product.productImageList[0].url} : '/resources/img/Profile.png'"
                 th:class="chatImg"
                 alt="Seller Profile"/>
            <img th:if="${seller.nickname != '알수없음' && crType == 'afterService'}"
                 th:src="${seller.profile} != null ? ${seller.profile} : '/resources/img/Profile.png'"
                 th:class="chatImg"
                 alt="Seller Profile"/>
            <img th:unless="${seller.nickname != '알수없음'}"
                 th:src="@{/resources/img/Profile.png}" th:class="chatImg" alt="Default Profile"/>
            <b th:text="${product.price} + '원'"></b>
        </div>
        <div th:if="${message != '채팅가능'}" class="info imgForm product">
            <img src="@{/resources/img/Profile.png}"/>
            <b>거래 불가능</b>
        </div>
        <div class="info">
            <h1 th:if="${crType == 'product'}" th:text="${product.title}"></h1>
            <h1 th:if="${crType == 'afterService'}" th:text="${seller.nickname}"></h1>
            <p th:if="${crType == 'product'}" th:text="${seller.nickname + ' 거래내역 ' + soldCounts + '회'}"></p>
            <p th:if="${crType == 'afterService'}" th:text="${seller.nickname + ' 문의 채팅방'}"></p>
        </div>
        <div th:if="${crType == 'product'}" class="button-container">
            <form th:action="@{/product/purchase}" method="post">
                <input type="hidden" name="id" th:value="${product.id}" />
                <button type="submit">구매하기</button>
            </form>
        </div>
    </div>
    <div id="chat-scroll">
        <div id="chat-history">
            <div th:each="chatMessage, iterStat : ${chatMessages}">
                <th:block th:with="currentDate=${#strings.substring(chatMessage.createdAt, 0, 10)}">
                    <div th:if="${iterStat.first}" class="chatDate">
                        <p th:text="${currentDate}"></p>
                    </div>
                    <div th:if="${iterStat.index != 0 && #strings.substring(chatMessages[(iterStat.index)-1].createdAt, 0, 10) != currentDate}" class="chatDate">
                            <p th:text="${currentDate}"></p>
                        </div>
                </th:block>
                <div th:if="${chatMessage.member.nickname == sender.nickname}" class='fileSet member1'>
                    <img th:if="${chatMessage.attachmentUrl != null}" th:src="${chatMessage.attachmentUrl}"
                         class="fileImg member1"/>
                    <div th:if="${chatMessage.message != '' and chatMessage.message != null}"
                         class='messageSet member1'>
                        <div class="message" th:text="${chatMessage.message}"></div>
                        <img th:if="${chatMessage.member.profile != null and not chatMessage.member.profile.isEmpty()}"
                             th:src="${chatMessage.member.profile}" class="chat-profile"/>
                        <img th:unless="${chatMessage.member.profile != null and not chatMessage.member.profile.isEmpty()}"
                             src="@{/resources/img/Profile.png}" class="chat-profile"/>
                    </div>
                </div>
                <div th:if="${chatMessage.member.nickname != sender.nickname}" class='fileSet member2'>
                    <img th:if="${chatMessage.attachmentUrl != null}" th:src="${chatMessage.attachmentUrl}"
                         class="fileImg member2"/>
                    <div th:if="${chatMessage.message != '' and chatMessage.message != null}"
                         class='messageSet member2'>
                        <img th:if="${chatMessage.member.profile != null and not chatMessage.member.profile.isEmpty()}"
                             th:src="${chatMessage.member.profile}" class="chat-profile"/>
                        <img th:unless="${chatMessage.member.profile != null and not chatMessage.member.profile.isEmpty()}"
                             src="@{/resources/img/Profile.png}" class="chat-profile"/>
                        <div class="message" th:text="${chatMessage.message}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="send-container">
        <img th:src="@{/resources/img/fileIcon.png}" id="imageUpload">
        <img src="" id="imagePreview" style="display: none; max-width: 100px; max-height: 100px;">
        <input type="file" id="attachment" style="display: none;">

        <input type="text" id="message" placeholder="Type your message...">
        <img th:src="@{/resources/img/sendIcon.png}" id="sendIcon">
    </div>
</div>
<script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let stompClient = null;
    let loggedInMemberNickname = '[[${session.loggedInMember}]]';

    let roomId = '[[${chatRoom.id}]]';

    function connect() {
        var socket = new SockJS("/ws-stomp");
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            //console.log('연결됨: ' + frame);
            moveChatScrollToBottom();

            // 채팅 룸 구독
            stompClient.subscribe('/room/' + roomId, function (chatMessage) {
                showChat(JSON.parse(chatMessage.body));
            });
        }, function (error) {
            console.error('Connection error:', error);
            setTimeout(connect, 1000); // 5초 후에 재연결 시도
        });
    }

    function sendMessage(roomId, member, message, attachment) {
        if (!stompClient) {
            console.error("WebSocket 연결이 설정되지 않았습니다.");
            return;
        }
        var formData = new FormData();
        formData.append('roomId', roomId);
        formData.append('member', JSON.stringify(member));
        formData.append('message', message);
        if (attachment) {
            formData.append('attachment', attachment);
        }

        fetch('/chat/sendMessageWithAttachment', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
            .then(data => {
                const chatMessage = {
                    message: message,
                    attachmentUrl: data.attachmentUrl,
                    member: member
                };
                stompClient.send("/send/" + roomId, {}, JSON.stringify(chatMessage));
                formData = new FormData();
            })
            .catch(error => console.error('Error:', error));
    }


    function setConnected(connected) {
        if (connected) console.log("연결 성공");
        else {
            console.log("연결 실패");
            window.onload();
        }
    }

    function makeProfileDiv(parent, type) {
        const profileImage = document.createElement('img');
        const imgSrc = "/resources/img/Profile.png";

        let senderProfile = '[[${sender.profile}]]';
        if (senderProfile.startsWith('"') && senderProfile.endsWith('"')) {
            senderProfile = senderProfile.substring(1, senderProfile.length - 1);
        }

        let profile = null;

        console.log("test",[[${product.member.nickname != sender.nickname}]]);

        if([[${product.member.nickname != sender.nickname}]]) {
            console.log("여기");
            profile = '[[${product.member.profile}]]';	//afterService, product 모두 model명이 product
        }else {
            console.log("여기2");
            profile = '[[${chatRoom.member.profile}]]';
        }
        console.log("profile", profile);

        if (profile.startsWith('"') && profile.endsWith('"')) {
            profile = profile.substring(1, profile.length - 1);
        }

        if (type === 'member1' && senderProfile!== "" && senderProfile !== null)
            profileImage.src = senderProfile;
        else if (type === 'member2' && profile !== "" && profile !== null)
            profileImage.src = profile;
        else
            profileImage.src = imgSrc;

        profileImage.classList.add('chat-profile');
        parent.appendChild(profileImage);
    }

    function makeMessageDiv(parent, message) {
        const chatMessage = document.createElement('div');
        chatMessage.innerHTML = message;
        chatMessage.classList.add('message');
        parent.appendChild(chatMessage);
    }

    function makeAttachmentDiv(parent, attachmentUrl) {
        const attachmentImage = document.createElement('img');

        attachmentImage.src = attachmentUrl;
        attachmentImage.classList.add('fileImg');
        parent.appendChild(attachmentImage);
    }

    window.onload = function () {
        connect();
    };

    document.getElementById('imageUpload').addEventListener('click', function () {
        document.getElementById('attachment').click();
    });

    document.getElementById('imagePreview').addEventListener('click', function () {
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.src = "";
        imagePreview.style.display = 'none';
        document.getElementById('attachment').value = '';
    })

    document.getElementById('attachment').addEventListener('change', function (event) {
        const file = event.target.files[0];

        if (file) {
            // 파일 확장자 검사
            const allowedExtensions = ['png', 'jpg', 'jpeg'];
            const fileExtension = file.name.split('.').pop().toLowerCase();
            if (!allowedExtensions.includes(fileExtension)) {
                alert("png, jpg, jpeg 파일만 가능합니다.");
                event.target.value = '';
                return;
            }

            const reader = new FileReader();
            reader.onload = function (e) {
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });

    document.getElementById('sendIcon').addEventListener('click', function (event) {
        event.stopPropagation();
        let name = '[[${product.member.nickname}]]';
        let chatPossible = '[[${message}]]';
        let memberRole = '[[${sender.memberRole}]]';
        if (memberRole.startsWith('"') && memberRole.endsWith('"')) {
            memberRole = memberRole.substring(1, memberRole.length - 1);
        }
        if (chatPossible.startsWith('"') && chatPossible.endsWith('"')) {
            chatPossible = chatPossible.substring(1, chatPossible.length - 1);
        }

        if (name.startsWith('"') && name.endsWith('"')) {
            name = name.substring(1, name.length - 1);
        }

        console.log("name", name);
        console.log("chatPossible", chatPossible);
        console.log("name2", name === "알수없음");
        console.log("chatPossible2", chatPossible==="채팅가능");

        if (name !== "알수없음" && chatPossible === "채팅가능") {
            let member = {
                id: '[[${sender.id}]]',
                account: '[[${sender.account}]]',
                bank: '[[${sender.bank}]]',
                email: '[[${sender.email}]]',
                memberRole: memberRole,
                nickname: '[[${sender.nickname}]]',
                password: '[[${sender.password}]]',
                profile: '[[${sender.profile}]]'
            };
            let message = document.getElementById('message').value.trim();
            let attachmentInput = document.getElementById('attachment');
            let attachment = attachmentInput.files[0];

            if (message !== "" || attachment) {
                sendMessage(roomId, member, message, attachment);
                attachmentInput.value = "";
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.src = "";
                imagePreview.style.display = 'none';
            } else {
                alert("메시지를 입력해주세요");
                document.getElementById('message').value = "";
            }
        } else {
            alert("판매자가 탈퇴했거나 삭제한 경우 채팅을 보낼 수 없습니다.");
        }
    });

    function showChat(messageJson) {
        const messageInput = messageJson.message;
        const attachmentUrl = messageJson.attachmentUrl;
        //보낸 채팅
        const chatHistoryDiv = document.getElementById('chat-history');

        const fileSet = document.createElement('div');
        fileSet.classList.add('fileSet');
        const messageSet = document.createElement('div');
        messageSet.classList.add('messageSet');
        type = messageJson.member.nickname === loggedInMemberNickname ? "member1" : "member2";

        if (attachmentUrl) {
            makeAttachmentDiv(fileSet, attachmentUrl);
        }
        if (type === "member1") {
            if (messageInput !== "") {
                makeMessageDiv(messageSet, messageInput);
                makeProfileDiv(messageSet, "member1");
            }
        } else {
            if (messageInput !== "") {
                makeProfileDiv(messageSet, "member2");
                makeMessageDiv(messageSet, messageInput);
            }
        }

        messageSet.classList.add(type);
        fileSet.appendChild(messageSet);
        fileSet.classList.add(type);
        chatHistoryDiv.appendChild(fileSet);
        document.getElementById("message").value = "";

        moveChatScrollToBottom();
    }

    function moveChatScrollToBottom() {
        const chatDiv = document.getElementById('chat-scroll');
        chatDiv.scrollTop = chatDiv.scrollHeight;
    }
</script>
</body>
</html>
